<a href="https://colab.research.google.com/github/AyurSarawgi/PySpark_Notes/blob/main/PySpark_Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 59 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 42.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=6b0a701bacc0a067d24edec5f48c3c63430ebb300b9c7c93bc3934d8d48878b3
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Practice-1').getOrCreate()

# ***1.READING A FILE***

In [17]:
df_pyspark=spark.read.csv('test.csv')
df_pyspark.show()

+---------+--------------------+----------+----------+--------------------+-----+
|      _c0|                 _c1|       _c2|       _c3|                 _c4|  _c5|
+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
|        1|               Chais|         1|         1|  10 boxes x 20 bags|   18|
|        2|               Chang|         1|         1|  24 - 12 oz bottles|   19|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles|   10|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars|   22|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars|   25|
|     null|                null|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars|   40|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.|   97|
|       10|               Ikura|      null|         8|    12 - 200 ml jars|   31|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.|   21|
|       12|Queso Manchego La...|         5|         4|                null|   38|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins|   39|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

### 1.1 Reading Files With Header

In [18]:
df_pyspark=spark.read.option('header','true').csv('test.csv')
df_pyspark.show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags|   18|
|        2|               Chang|         1|         1|  24 - 12 oz bottles|   19|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles|   10|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars|   22|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars|   25|
|     null|                null|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars|   40|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.|   97|
|       10|               Ikura|      null|         8|    12 - 200 ml jars|   31|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.|   21|
|       12|Queso Manchego La...|         5|         4|                null|   38|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins|   39|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes|   81|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

In [19]:
df_pyspark=spark.read.csv('test.csv',header=True)
df_pyspark.show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags|   18|
|        2|               Chang|         1|         1|  24 - 12 oz bottles|   19|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles|   10|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars|   22|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars|   25|
|     null|                null|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars|   40|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.|   97|
|       10|               Ikura|      null|         8|    12 - 200 ml jars|   31|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.|   21|
|       12|Queso Manchego La...|         5|         4|                null|   38|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins|   39|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes|   81|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

### 1.2 Reading N Rows From Top Only (in form of list)

In [21]:
df_pyspark.head(4)

[Row(ProductID='1', ProductName='Chais', SupplierID='1', CategoryID='1', Unit='10 boxes x 20 bags', Price='18'),
 Row(ProductID='2', ProductName='Chang', SupplierID='1', CategoryID='1', Unit='24 - 12 oz bottles', Price='19'),
 Row(ProductID='3', ProductName='Aniseed Syrup', SupplierID='1', CategoryID='2', Unit='12 - 550 ml bottles', Price='10'),
 Row(ProductID='4', ProductName="Chef Anton's Cajun Seasoning", SupplierID='2', CategoryID='2', Unit='48 - 6 oz jars', Price='22')]

### 1.3 Information Regarding Columns

In [22]:
df_pyspark.printSchema()

root
 |-- ProductID: string (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- SupplierID: string (nullable = true)
 |-- CategoryID: string (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Price: string (nullable = true)

### 1.4 Setting Column DataType According To Data Present

In [25]:
df_pyspark=spark.read.csv('test.csv',header=True,inferSchema=True)
df_pyspark.show()

df_pyspark.printSchema()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|     null|                null|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

root
 |-- ProductID: integer (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- SupplierID: integer (nullable = true)
 |-- CategoryID: integer (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Price: double (nullable = true)

# ***2. ALL ABOUT COLUMNS***

### 2.1 All Column Names

In [28]:
df_pyspark.columns

['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']

### 2.2 Selecting Columns

In [29]:
df_pyspark.select('ProductID').show()

+---------+
|ProductID|
+---------+
|        1|
|        2|
|        3|
|        4|
|        5|
|        6|
|     null|
|        8|
|     null|
|       10|
|       11|
|       12|
|       13|
|       14|
|       15|
|       16|
|       17|
|       18|
|       19|
|       20|
+---------+
only showing top 20 rows

In [30]:
df_pyspark.select('ProductID','ProductName').show()

+---------+--------------------+
|ProductID|         ProductName|
+---------+--------------------+
|        1|               Chais|
|        2|               Chang|
|        3|       Aniseed Syrup|
|        4|Chef Anton's Caju...|
|        5|Chef Anton's Gumb...|
|        6|Grandma's Boysenb...|
|     null|                null|
|        8|Northwoods Cranbe...|
|     null|     Mishi Kobe Niku|
|       10|               Ikura|
|       11|      Queso Cabrales|
|       12|Queso Manchego La...|
|       13|               Konbu|
|       14|                Tofu|
|       15|        Genen Shouyu|
|       16|             Pavlova|
|       17|        Alice Mutton|
|       18|    Carnarvon Tigers|
|       19|Teatime Chocolate...|
|       20|Sir Rodney's Marm...|
+---------+--------------------+
only showing top 20 rows

In [31]:
df_pyspark.select('ProductName','ProductID').show()

+--------------------+---------+
|         ProductName|ProductID|
+--------------------+---------+
|               Chais|        1|
|               Chang|        2|
|       Aniseed Syrup|        3|
|Chef Anton's Caju...|        4|
|Chef Anton's Gumb...|        5|
|Grandma's Boysenb...|        6|
|                null|     null|
|Northwoods Cranbe...|        8|
|     Mishi Kobe Niku|     null|
|               Ikura|       10|
|      Queso Cabrales|       11|
|Queso Manchego La...|       12|
|               Konbu|       13|
|                Tofu|       14|
|        Genen Shouyu|       15|
|             Pavlova|       16|
|        Alice Mutton|       17|
|    Carnarvon Tigers|       18|
|Teatime Chocolate...|       19|
|Sir Rodney's Marm...|       20|
+--------------------+---------+
only showing top 20 rows

In [32]:
df_pyspark.select(['ProductName','ProductID']).show()

+--------------------+---------+
|         ProductName|ProductID|
+--------------------+---------+
|               Chais|        1|
|               Chang|        2|
|       Aniseed Syrup|        3|
|Chef Anton's Caju...|        4|
|Chef Anton's Gumb...|        5|
|Grandma's Boysenb...|        6|
|                null|     null|
|Northwoods Cranbe...|        8|
|     Mishi Kobe Niku|     null|
|               Ikura|       10|
|      Queso Cabrales|       11|
|Queso Manchego La...|       12|
|               Konbu|       13|
|                Tofu|       14|
|        Genen Shouyu|       15|
|             Pavlova|       16|
|        Alice Mutton|       17|
|    Carnarvon Tigers|       18|
|Teatime Chocolate...|       19|
|Sir Rodney's Marm...|       20|
+--------------------+---------+
only showing top 20 rows

### 2.3 DataTypes Of Columns

In [33]:
df_pyspark.dtypes

[('ProductID', 'int'),
 ('ProductName', 'string'),
 ('SupplierID', 'int'),
 ('CategoryID', 'int'),
 ('Unit', 'string'),
 ('Price', 'double')]

### 2.4 Adding A Column In DataFrame

In [34]:
df_pyspark=df_pyspark.withColumn('New_PriceList', df_pyspark['Price']+2)
df_pyspark.show()

+---------+--------------------+----------+----------+--------------------+-----+-------------+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|New_PriceList|
+---------+--------------------+----------+----------+--------------------+-----+-------------+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|         20.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|         21.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|         12.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|         24.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|        23.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|         27.0|
|     null|                null|      null|      null|                null| null|         null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|         42.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|         99.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|         33.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|         23.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|         40.0|
|       13|               Konbu|         6|         8|            2 kg box| null|         null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|        25.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|         17.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|        19.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|         41.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|         64.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|         11.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|         83.0|
+---------+--------------------+----------+----------+--------------------+-----+-------------+
only showing top 20 rows

### 2.5 Deleting A Column From DataFrame

In [35]:
df_pyspark=df_pyspark.drop('New_PriceList')
df_pyspark.show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|     null|                null|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

### 2.6 Renaming The Column Name

In [38]:
df_pyspark.withColumnRenamed('ProductName', 'P_Name').columns

['ProductID', 'P_Name', 'SupplierID', 'CategoryID', 'Unit', 'Price']

# ***3. OTHERS***

### 3.1 Describing DataFrame

In [39]:
df_pyspark.describe()

DataFrame[summary: string, ProductID: string, ProductName: string, SupplierID: string, CategoryID: string, Unit: string, Price: string]

In [40]:
df_pyspark.describe().show()

+-------+-----------------+-------------+-----------------+-----------------+-----------------+------------------+
|summary|        ProductID|  ProductName|       SupplierID|       CategoryID|             Unit|             Price|
+-------+-----------------+-------------+-----------------+-----------------+-----------------+------------------+
|  count|               75|           76|               75|               75|               75|                75|
|   mean|39.82666666666667|         null|            13.92|             4.08|             null|29.156133333333333|
| stddev|22.07565207223593|         null|8.156840935929427|2.403600902250059|             null|  34.1642773721377|
|    min|                1| Alice Mutton|                1|                1|        1 kg pkg.|               2.5|
|    max|               77|Zaanse koeken|               29|                8|750 cc per bottle|             263.5|
+-------+-----------------+-------------+-----------------+-----------------+-----------------+------------------+

# ***4. HANDLING WITH NULL & MISSING VALUES***

In [41]:
df_pyspark.show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|     null|                null|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

### 4.1 Drpooing Rows Containing Null Value

In [43]:
df_pyspark.na.drop().show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
|       21| Sir Rodney's Scones|         8|         3| 24 pkgs. x 4 pieces| 10.0|
|       22| Gustaf's Kn�ckebr�d|         9|         5|    24 - 500 g pkgs.| 21.0|
|       23|            Tunnbr�d|         9|         5|    12 - 250 g pkgs.|  9.0|
|       24|  Guaran� Fant�stica|        10|         1|    12 - 355 ml cans|  4.5|
|       25|NuNuCa Nu�-Nougat...|        11|         3|  20 - 450 g glasses| 14.0|
|       26| Gumb�r Gummib�rchen|        11|         3|    100 - 250 g bags|31.23|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows



1.   .drop('any') //delete all rows containing any null value
2.   .drop('all') //delete all rows which contains all the values as null
3.   .drop('any',thresh=2) //delete all rows containing atleast two non-null values
4.   .drop('any',subset=['ProductId']) //delete all rows in which ProductId is null

In [53]:
# .drop(how=='any') //delete all rows containing any null value

df_pyspark.na.drop('any').show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
|       21| Sir Rodney's Scones|         8|         3| 24 pkgs. x 4 pieces| 10.0|
|       22| Gustaf's Kn�ckebr�d|         9|         5|    24 - 500 g pkgs.| 21.0|
|       23|            Tunnbr�d|         9|         5|    12 - 250 g pkgs.|  9.0|
|       24|  Guaran� Fant�stica|        10|         1|    12 - 355 ml cans|  4.5|
|       25|NuNuCa Nu�-Nougat...|        11|         3|  20 - 450 g glasses| 14.0|
|       26| Gumb�r Gummib�rchen|        11|         3|    100 - 250 g bags|31.23|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

In [54]:
# .drop(how=='all') //delete all rows which contains all the values as null

df_pyspark.na.drop('all').show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
|       21| Sir Rodney's Scones|         8|         3| 24 pkgs. x 4 pieces| 10.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

In [56]:
# drop('any',thresh=2) //delete all rows containing atleast two non-null values

df_pyspark.na.drop('any',thresh=2).show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
|       21| Sir Rodney's Scones|         8|         3| 24 pkgs. x 4 pieces| 10.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

In [58]:
# .drop('any',subset=['ProductId']) //delete all rows in which ProductId is null

df_pyspark.na.drop('any',subset=['ProductId']).show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
|       21| Sir Rodney's Scones|         8|         3| 24 pkgs. x 4 pieces| 10.0|
|       22| Gustaf's Kn�ckebr�d|         9|         5|    24 - 500 g pkgs.| 21.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

### 4.2 Filling A Value to All Missing / Null Values in String Columns only

In [65]:
# Fill the String '****Value Missing****' in the String Columns

df_pyspark.na.fill('****VALUE_MISSING****').show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|     null|****VALUE_MISSING...|      null|      null|****VALUE_MISSING...| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|****VALUE_MISSING...| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

### 4.2 Filling A Value to All Missing / Null Values In A Particular String Columns only  //Integer columns will not show any error

In [68]:
df_pyspark.na.fill('$$$VALUE_MISSING$$$','ProductName').show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|     null| $$$VALUE_MISSING$$$|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

In [67]:
df_pyspark.na.fill('$$$VALUE_MISSING$$$',['ProductName','Unit']).show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|     null| $$$VALUE_MISSING$$$|      null|      null| $$$VALUE_MISSING$$$| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4| $$$VALUE_MISSING$$$| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

In [69]:
df_pyspark.na.fill('$$$VALUE_MISSING$$$',['ProductName','Price']).show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|     null| $$$VALUE_MISSING$$$|      null|      null|                null| null|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|     null|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|      null|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|      null|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| null|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

### 4.3 Filling The Integer Column NULL Values with Mean / Meadian / Mode Of Presented Values In Them By Using Imputer Function

In [76]:
from pyspark.ml.feature import Imputer

In [77]:
# Filling Mean Values at NULL

imputer=Imputer(
    inputCols=['ProductID','SupplierID','CategoryID','Price'],
    outputCols=['ProductID','SupplierID','CategoryID','Price']
).setStrategy('mean')

imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+--------------------+----------+----------+--------------------+------------------+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|             Price|
+---------+--------------------+----------+----------+--------------------+------------------+
|        1|               Chais|         1|         1|  10 boxes x 20 bags|              18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles|              19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles|              10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars|              22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|             21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars|              25.0|
|       39|                null|        13|         4|                null|29.156133333333333|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars|              40.0|
|       39|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.|              97.0|
|       10|               Ikura|        13|         8|    12 - 200 ml jars|              31.0|
|       11|      Queso Cabrales|         5|         4|           1 kg pkg.|              21.0|
|       12|Queso Manchego La...|         5|         4|                null|              38.0|
|       13|               Konbu|         6|         8|            2 kg box|29.156133333333333|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|             23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles|              15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|             17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins|              39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.|              62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|               9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes|              81.0|
+---------+--------------------+----------+----------+--------------------+------------------+
only showing top 20 rows

In [78]:
# Filling Median Values at NULL

imputer=Imputer(
    inputCols=['ProductID','SupplierID','CategoryID','Price'],
    outputCols=['ProductID','SupplierID','CategoryID','Price']
).setStrategy('median')

imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|       40|                null|        14|         4|                null| 19.5|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|       40|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|        14|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|         4|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| 19.5|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows

In [79]:
# Filling Mode Values at NULL

imputer=Imputer(
    inputCols=['ProductID','SupplierID','CategoryID','Price'],
    outputCols=['ProductID','SupplierID','CategoryID','Price']
).setStrategy('mode')

imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+--------------------+----------+----------+--------------------+-----+
|ProductID|         ProductName|SupplierID|CategoryID|                Unit|Price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags| 18.0|
|        2|               Chang|         1|         1|  24 - 12 oz bottles| 19.0|
|        3|       Aniseed Syrup|         1|         2| 12 - 550 ml bottles| 10.0|
|        4|Chef Anton's Caju...|         2|         2|      48 - 6 oz jars| 22.0|
|        5|Chef Anton's Gumb...|         2|         2|            36 boxes|21.35|
|        6|Grandma's Boysenb...|         3|         2|      12 - 8 oz jars| 25.0|
|        1|                null|         7|         3|                null| 14.0|
|        8|Northwoods Cranbe...|         3|         2|     12 - 12 oz jars| 40.0|
|        1|     Mishi Kobe Niku|         4|         6|    18 - 500 g pkgs.| 97.0|
|       10|               Ikura|         7|         8|    12 - 200 ml jars| 31.0|
|       11|      Queso Cabrales|         5|         3|           1 kg pkg.| 21.0|
|       12|Queso Manchego La...|         5|         4|                null| 38.0|
|       13|               Konbu|         6|         8|            2 kg box| 14.0|
|       14|                Tofu|         6|         7|    40 - 100 g pkgs.|23.25|
|       15|        Genen Shouyu|         6|         2| 24 - 250 ml bottles| 15.5|
|       16|             Pavlova|         7|         3|    32 - 500 g boxes|17.45|
|       17|        Alice Mutton|         7|         6|      20 - 1 kg tins| 39.0|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.| 62.5|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|  9.2|
|       20|Sir Rodney's Marm...|         8|         3|       30 gift boxes| 81.0|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows